@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=IM+Fell+Double+Pica&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Quicksand:wght@400;500;600&display=swap');

:root {
  --primary: #d6df5a;
  --secondary: #29335c;
  --dark-secondary: #1d1e2c;
}

/* font-family: 'Cardo', serif; */
/* font-family: 'IM Fell Double Pica', serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Cardo", serif;
}

p {
  margin: 0% !important;
  padding: 4px;
}

.corporate__bg-img {
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url(../public/assets/images/corporate-page-img.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  object-fit: fill;
  position: relative;
  z-index: 111;
}

.corporate__bg-bg {
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url(../public/assets/images/corporate-page-bg.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 140px
}



.corporate__bg-title {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1111;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 30px 40px 30px;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.corporate__description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.corporate__description-wrapper p {
  font-family: 'Poppins', sans-serif;
  color: #3B3B46;
}

.corporate__description-wrapper p::first-letter {
  font-size: 36px;

}

.portfolio-wrapper {
  margin-top: 50px;
}

.portfolio__title-wrapper {
  display: flex;
}

.portfolio-title {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #3B3B46;
  position: relative;
  padding-bottom: 10px;
}

.portfolio-title::before {
  content: '';
  width: 250px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 50%;
  left: 100%;

}

.portfolio-title::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 46%;
  left: 100%;
  margin-left: 250px;
  border-radius: 50%;

}

.portfolio__data-wrapper {
  background-color: #3B3B46;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px 20px;
  height: 100%;
  justify-content: space-between;
}

.portfolio__data-wrapper ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.portfolio__data-wrapper ul li {
  list-style-type: none;
  display: block;
  padding: 5px 0;
  font-size: 14px;
}


.portfolio__data-btn {
  background-color: #D0C1C1;
  color: #3B3B46;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}



@media screen and (max-width: 992px) {
  .corporate__bg-bg {

    top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .corporate__bg-title {
    transform: translate(0, 0);
    left: 0;
    right: 0;
    font-size: 22px;
    padding: 10px 20px 30px 20px;
    margin: 0 20px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .portfolio-title::before {
    content: '';
    width: 250px;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .portfolio-title::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: -4%;
    top: unset;
    border-radius: 50%;

  }

}

/* about css */

.home {
  width: 100%;
  height: 100vh;
  background-color: #29335c;
  background-image: url(../public/assets/images/Rectangle\ 728.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.data {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 35%;
  background: #e39774;
  width: 80%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.l_heding {
  position: relative;
  left: 25%;
  z-index: 99;
}

.l_subheding {
  position: relative;
  left: 25%;
  z-index: 99;
}

.l_img {
  position: absolute;
  left: 30%;
  z-index: 99;
  bottom: 4%;
}

.r_box {
  position: relative;
  right: 30%;
}

.bg-w {
  width: 372px;
  height: 408px;
  background: #fff8f0;
  position: relative;
  display: flex;
  align-items: center;
}

.bg-w p {
  position: absolute;
  left: 50%;
  width: 100%;
}

/* Facts */
.Facts {
  background-color: #5c9ead;
}

.main_row {
  transform: translateY(-45px);
}

.card_text {
  text-align: center;
  color: #fff;
}

.image-Our-Capabilities {
  width: 226px;
  height: 211px;
  background-color: #1d1e2c;
  border-radius: 10px;
}

/* Capabilities */
.Capabilities_main {
  background: #fff8f0;
}

.Capabilities {
  width: 80%;
  margin: auto;
  display: block;
}

/* Our_story */
.Our_story {
  width: 100%;
  height: auto;
  background-color: #29335c;
  background-image: url(../public/assets/images/Rectangle\ 742.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0px;
}

.Our_story_sub {
  width: 80%;
  margin: auto;
}

.card_Our_story {
  background: #fff8f0;
  border-radius: 17px;
  padding: 10px 14px;
  margin: 14px 0px;
}

.card_Our_story p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0.05em;
}

.card_Our_story_line {
  background-color: #000;
  height: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_Our_story_line div {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.Our_story_bottom_div {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #fff;
  padding: 20px 26px;
  border-radius: 30px;
  width: 50%;
}

.main_course_details {
  height: 100vh !important;
}

.heding_text_tally {
  font-size: 90px;
  padding-top: 140px;
  text-align: center;
  font-style: italic;
}

.heding_tex_we {
  font-size: 50px;
}

.heding_tex_we_sub {
  font-size: 30px;
  padding: 10px;
  text-align: justify;
}

.heding_text_Workshop {
  font-size: 90px;
  font-style: italic;
  margin-left: 340px;
}

.back {
  background: url(../public/Rectangle\ 783.png);
  background-repeat: space;
  background-size: contain;
  height: 100%;
}

.img_con {
  height: 80vh;
  width: 100%;
  background: url(../public/unsplash_FHnnjk1Yj7Y.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.book_div {
  height: 200px;
  width: 190px;
  background: #fff;
  border-radius: 50% 50% 0% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_con2 {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0%;
  height: 40vh;
  width: 80% !important;
  background: url(../public/unsplash_FHnnjk1Yj7Y.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

/* Gallery component */
.gallery__wrapper {
  background-color: var(--secondary);
  padding: 40px 0;
}

.gallery__container {
  width: 80%;
  margin: 0 auto;

}

.gallery__slider-img {
  height: 100%;
  width: 100%;
}

.gallery-title {
  font-size: 50px;
  font-weight: bold;
  opacity: 0.9;
  color: #fff;
  font-family: poppins;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-family: "IM Fell Double Pica", serif;
}

.gallery__btn-wrapper a {
  border-radius: 5px;
  color: #1D1E2C;
  background-color: #FFF8F0;
  padding: 2px 20px;
  font-weight: 600;
  text-decoration: none;

}

.gallery__btn-wrapper a:hover {
  color: inherit;

}

.gallery__btn-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

/* gallery page css */
.gallery__heading {
  background-color: #56566F;
  color: white;
  text-align: center;
  font-size: 46px;
  padding: 100px 0;
}


@media (max-width: 1200px) {
  .heding_text_tally {
    font-size: 60px;
  }

  .heding_text_Workshop {
    font-size: 60px;
    margin-left: 40%;
  }

  .heding_tex_we {
    font-size: 45px;
  }

  .heding_tex_we_sub {
    font-size: 30px;
  }

  .data {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
  }

  .l_img {
    position: absolute;
    left: 20%;
    bottom: 5%;
    z-index: 99;
  }

  .bg-w {
    width: auto;
  }

  .bg-w p {
    position: absolute;
    left: 30%;
    font-size: 10px;
    width: auto;
  }

  .l_heding {
    position: relative;
    left: 0%;
  }

  .l_subheding {
    position: relative;
    left: 0%;
  }
}

@media (max-width: 992px) {
  .main_course_details {
    height: 100% !important;
  }

  .heding_text_tally {
    font-size: 40px;
  }

  .heding_text_Workshop {
    font-size: 40px;
    margin-left: 40%;
  }

  .heding_tex_we {
    font-size: 30px;
  }

  .heding_tex_we_sub {
    font-size: 24px;
  }

  .book_div {
    height: 110px;
    width: 100px;
    background: #fff;
    border-radius: 50% 50% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .heding_text_tally {
    font-size: 25px;
  }

  .heding_text_Workshop {
    font-size: 25px;
  }

  .heding_tex_we_sub {
    font-size: 16px;
  }

  .heding_tex_we {
    font-size: 20px;
  }

  .data {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
  }

  .l_img {
    position: absolute;
    left: 5%;
    bottom: 3%;
    z-index: 99;
    width: 50%;
  }

  .bg-w {
    width: 125%;
  }

  .bg-w p {
    position: absolute;
    left: 30%;
    font-size: 10px;
    width: auto;
  }

  .main_row {
    transform: translateY(0px);
  }

  .Our_story_bottom_div {
    width: 100% !important;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #fff;
    padding: 20px 26px;
    border-radius: 30px;
  }

  .Our_story_sub {
    width: 100% !important;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .heding_tex_we {
    font-size: 16px;
  }

  .heding_tex_we_sub {
    font-size: 10px;
    display: flex;
    text-align: justify;
  }
}